## VS Code
.vscode/
.vs/

## Python Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

## Virtual environment
.venv/
.env*

## Node Modules
node_modules/

# Bicep parameters files
bicep/*.bicepparam